:root {
  --layout-pest-thickness: 1px;
  --layout-pest-color: rgba(255, 0, 0, 0.75);
}

/* Exclude the tooltip from all outline styles */
#layout-pest-tooltip {
  outline: none !important;
  box-shadow: none !important;
}

/* Apply outlines to all elements */
body,
article,
nav,
aside,
section,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
main,
address,
div,
p,
hr,
pre,
blockquote,
ol,
ul,
li,
dl,
dt,
dd,
figure,
figcaption,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
col,
colgroup,
button,
datalist,
fieldset,
form,
input,
keygen,
label,
legend,
meter,
optgroup,
option,
output,
progress,
select,
textarea,
details,
summary,
menu,
del,
ins,
img,
iframe,
embed,
object,
param,
video,
audio,
source,
canvas,
track,
map,
area,
a,
em,
strong,
i,
b,
u,
s,
small,
abbr,
q,
cite,
dfn,
sub,
sup,
time,
code,
kbd,
samp,
var,
mark,
bdi,
bdo,
ruby,
rt,
rp,
span,
br,
wbr {
  outline: var(--layout-pest-thickness) solid var(--layout-pest-color);
}

/* More subtle hover effect that only adds a shadow without changing the background */
*:not(.layout-pest-element):hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
}
